@model Web.Models.CoachListModel

@{
    ViewBag.Title = "Coaches";
}
@section scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function initGrid() {
            $('button').button();
            $('table.listing').on('click', 'button.command.delete', function (e) {
                // confirm deletion
                var itemName = $(this).next('input[type=hidden]').val();
                var dialog = $('div#delete-item-dialog');
                $('div', dialog).text('Are you sure you want to delete the coach "{0}"?'.replace('{0}', itemName));
                dialog.dialog('open');
                dialog.data('form', $(this).parent());
                e.preventDefault();
                $(this).blur(); // reset button focus
            });
        }

        $(document).ready(function () {
            initGrid();

            // delete alert dialog
            $('div#delete-item-dialog').dialog({
                autoOpen: false,
                resizable: false,

                modal: true,
                buttons: {
                    'Delete': function () {
                        // replace text with contact name

                        // simply submit associated form
                        var form = $(this).data('form');
                        form.submit();
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            });
        });
</script>
}
<h2>Coaches</h2>
<p>
    @Html.ActionLink("Create New Coach", "Create")
</p>
@if (TempData.ContainsKey("CoachCreated") && ((bool)(TempData["CoachCreated"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Coach added successfully.</span>
    </div>
}
@if (TempData.ContainsKey("CoachInvited") && ((bool)(TempData["CoachInvited"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Invitation sent to Coach successfully.</span>
    </div>
}
@if (TempData.ContainsKey("CoachDeleted") && ((bool)(TempData["CoachDeleted"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Coach deleted successfully.</span>
    </div>
}
@if (TempData.ContainsKey("CoachUpdated") && ((bool)(TempData["CoachUpdated"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Coach updated successfully.</span>
    </div>
}
@if (TempData.ContainsKey("Error"))
{
    <div class="status-indicator ui-corner-all ui-state-error">
        <span class="ui-icon ui-icon-alert"></span>
        <span>@TempData["Error"].ToString()</span>
    </div>
}

<div id="coachess">
@{
    var grid = new WebGrid(canPage: false);
    grid.Bind(Model.Coaches, autoSortAndPage: true);
    
    @grid.GetHtml(headerStyle: "header", 
        tableStyle: "listing dataTableActivate", htmlAttributes: new { dataTableHeight = "500px" }, 
        alternatingRowStyle: "even", 
        rowStyle: "odd",
        columns: grid.Columns(
            grid.Column("Edit", style: "center", header: " ", format: @<text>
                    <form action="@Url.RouteUrl(new { controller = "Coaches", action = "Edit", id = item.Id })" method="get" class="edit-link">
                        <button class="command edit">Edit</button>
                    </form>                    
                    </text>, 
                canSort: false),
            //grid.Column("Id", header: "Id", canSort: false),
            grid.Column("Email", header: "Email", canSort: false, format:@<text>
    <a class="messaging" href="#" data-type="Coach" data-for="@item.Id" data-to="@item.FirstName @item.LastName">@item.Email</a>
    </text>),
            grid.Column("FirstName", header: "First Name", canSort: false),
            grid.Column("LastName", header: "Last Name", canSort: false),
            //grid.Column("PhoneNumber", header: "Phone Number", canSort: false),
            grid.Column("Teams", header: "Teams", canSort: false, format: @<text>
    <ul style="padding-left: 1em;">
                @foreach(var team in item.Teams) {
                    <li style="list-style: disc;"><a href="@Url.RouteUrl(new{ controller="Team", action="Edit", id = team.Id})">@Web.Models.Team.PrettyName(team)</a></li>
                }
        </ul>
                </text>),
            grid.Column("Photo", header: "Photo", canSort: false, format: @<text>
                @if(!string.IsNullOrEmpty(item.Photo)) 
                {
                    if (System.IO.File.Exists(Server.MapPath("~/Images/Coaches/") + item.Photo + "." + item.PhotoType))
                    {
                        <img src="/Images/Coaches/@(item.Photo + "." + item.PhotoType)" style="width: 100px; height: 100px; border: 0;" />   
                    }
                }
                </text>),
            grid.Column("User.UserName", "User", canSort: false, format: @<text>
                @if (item.User != null)
                {
                    <a href="http://mail.google.com/mail/?view=cm&fs=1&tf=1&to=@item.User.Email&su=BLT Baseball"
                        target="_blank">@item.User.Email</a> <br />
                    if(User.IsInRole("Administrator")) {
                    <a href="@Url.RouteUrl(new { controller = "Users", action = "Edit", id = item.User.Id })">Edit User</a>
                    }
                }
                else
                {
                    <form action="@Url.RouteUrl(new { controller = "Coaches", action = "Invite", id = item.Id })" method="post" class="invite-link">
                        <button>Send Invite</button>
                        @Html.AntiForgeryToken()
                    </form>
                    if(item.InvitationSentOn != null)
                    {
                        <p style="font-size:smaller;">Invited @item.InvitationSentOn</p>
                    }
                }
                </text>),
            grid.Column("Delete", style: "center", canSort: false, header: " ", format: @<text>
                    <form action="@Url.RouteUrl(new { controller = "Coaches", action = "Delete", id = item.Id })" method="post" class="delete-link">
                        <button class="command delete">Delete</button>
                        <input type="hidden" value="@item.FirstName @item.LastName" />
                        @Html.AntiForgeryToken()
                    </form>
                    </text>)
            )
      );
}
</div>

<div id="delete-item-dialog" class="dialog" title="Delete User">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><div> </div>
    <input type="hidden" id="hfDeleteItemId" />
</div>
