@model Web.Models.UmpireListModel

@{
    ViewBag.Title = "Umpires";
}
@section scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function initGrid() {
            $('button').button();
            $('table.listing').on('click', 'button.command.delete', function (e) {
                // confirm deletion
                var itemName = $(this).next('input[type=hidden]').val();
                var dialog = $('div#delete-item-dialog');
                $('div', dialog).text('Are you sure you want to delete the umpire "{0}"?'.replace('{0}', itemName));
                dialog.dialog('open');
                dialog.data('form', $(this).parent());
                e.preventDefault();
                $(this).blur(); // reset button focus
            });
        }

        $(document).ready(function () {
            initGrid();

            // delete alert dialog
            $('div#delete-item-dialog').dialog({
                autoOpen: false,
                resizable: false,

                modal: true,
                buttons: {
                    'Delete': function () {
                        // replace text with contact name

                        // simply submit associated form
                        var form = $(this).data('form');
                        form.submit();
                    },
                    'Cancel': function () {
                        $(this).dialog('close');
                    }
                }
            });
        });
</script>
}
<h2 style="float:left">Umpires</h2>
<p style="float:right">
    @Html.ActionLink("Create New Umpire", "Create")
</p>
@if (TempData.ContainsKey("UmpireCreated") && ((bool)(TempData["UmpireCreated"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Umpire added successfully.</span>
    </div>
}
@if (TempData.ContainsKey("UmpireInvited") && ((bool)(TempData["UmpireInvited"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Invitation sent to Umpire successfully.</span>
    </div>
}
@if (TempData.ContainsKey("UmpireDeleted") && ((bool)(TempData["UmpireDeleted"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Umpire deleted successfully.</span>
    </div>
}
@if (TempData.ContainsKey("UmpireUpdated") && ((bool)(TempData["UmpireUpdated"]) == true))
{
    <div class="status-indicator ui-corner-all ui-state-success">
        <span class="ui-icon ui-icon-circle-check"></span>
        <span>Umpire updated successfully.</span>
    </div>
}
@if (TempData.ContainsKey("Error"))
{
    <div class="status-indicator ui-corner-all ui-state-error">
        <span class="ui-icon ui-icon-alert"></span>
        <span>@TempData["Error"].ToString()</span>
    </div>
}

<div id="umpires">
@{
    var grid = new WebGrid(canPage: false);
    grid.Bind(Model.Umpires, autoSortAndPage: true);
    
    @grid.GetHtml(headerStyle: "header", 
        tableStyle: "listing dataTableActivate", htmlAttributes: new { dataTableHeight = "500px" }, 
        alternatingRowStyle: "even", 
        rowStyle: "odd",
        columns: grid.Columns(
            grid.Column("Edit", style: "center", header: " ", format: @<text>
                    <form action="@Url.RouteUrl(new { controller = "Umpires", action = "Edit", id = item.Id })" method="get" class="edit-link">
                        <button class="command edit">Edit</button>
                    </form>                    
                    </text>, 
                canSort: false),
            //grid.Column("Id", header: "Id", canSort: false),
            grid.Column("Email", header: "Email", canSort: false),
            grid.Column("LastName", header: "Name", canSort: false, format: @<text><a href="@Url.RouteUrl(new { controller = "Overview", action = "Umpire", id = item.Value.Id })">@Web.Models.Umpire.GetUmpireName(item.Value)</a></text>),
            grid.Column("PhoneNumber", header: "Phone Number", canSort: false),
            grid.Column("League", header: "Head Umpire", canSort: false, format: @<text>@Html.Raw(item.League != null ? item.League.Name : "" )</text>),
            
            grid.Column("Photo", header: "Photo", canSort: false, format: @<text>
    @if(!string.IsNullOrEmpty(item.Photo)) 
    {
        if (System.IO.File.Exists(Server.MapPath("~/Images/Umpires/") + item.Photo + "." + item.PhotoType))
        {
            <img src="/Images/Umpires/@(item.Photo + "." + item.PhotoType)" style="width: 100px; height: 100px; border: 0;" />   
        }
    }
    </text>),
            grid.Column("User", "User", canSort: false, format: @<text>
                @if(item.User != null) 
                {
                    <a href="@Url.RouteUrl(new { controller = "Users", action = "Edit", id = item.User.Id })">@item.User.Email</a>
                } 
                else 
                {
                    <form action="@Url.RouteUrl(new { controller = "Umpires", action = "Invite", id = item.Id })" method="post" class="invite-link">
                        <button>Send Invite</button>
                        @Html.AntiForgeryToken()
                    </form>
                    if(item.InvitationSentOn != null)
                    {
                        <p style="font-size:smaller;">Invited @item.InvitationSentOn</p>
                    }
                }
            </text>),
                                grid.Column("Delete", style: "center", header: " ",
                                    format: @<text>
                    <form action="@Url.RouteUrl(new { controller = "Umpires", action = "Delete", id = item.Id })" method="post" class="delete-link">
                        <button class="command delete">Delete</button>
                        <input type="hidden" value="@item.FirstName @item.LastName" />
                        @Html.AntiForgeryToken()
                    </form>
                    </text>,
                                            canSort: false
                                        )
                                    )
                                );
}
</div>

<div id="delete-item-dialog" class="dialog" title="Delete User">
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><div> </div>
    <input type="hidden" id="hfDeleteItemId" />
</div>

