@model List<Web.Models.LeagueOverviewModel>
@using Web.Models

@{
    var leagueGrid = new WebGrid(canPage: false);
    leagueGrid.Bind(Model, autoSortAndPage: true);
        
 @leagueGrid.GetHtml(headerStyle: "header",
        tableStyle: "listing dataTableActivate", htmlAttributes: new { dataTableHeight = "500px", dataTableTitle = ViewData["header"] != null ? ViewData["header"] : "<h1>Leagues</h1>" },
                alternatingRowStyle: "even",
                rowStyle: "odd",
                columns: leagueGrid.Columns(
                    leagueGrid.Column("Name", header: "Name", format: @<text>
    <br />
    <b>@item.League.Type:</b> @item.League.Name<br />
    &nbsp;
                       
    </text>, canSort: false),
                    leagueGrid.Column("", style: "center", header: "Information", canSort: false, format: @<text>
    <a href="@item.League.Url">More Info</a>
    </text>),
                    leagueGrid.Column("", style: "center", header: "Registration", canSort: false, format: @<text>
    @if (item.League.RegistrationEndDate < DateTime.Now)
    {
 <text><span style="font-style: italic;">Closed</span></text>
    }
    else
    {

        <a href="@item.League.Url"><b>Register &amp; More info</b></a>
    }

    </text>),
                    leagueGrid.Column("EndDate", style: "center", header: "When", canSort: false, format: @<text>
    @item.League.StartDate.ToShortDateString() - @item.League.EndDate.ToShortDateString()
    </text>)
                   
                    )
              );
 }


